# Creating data samples

check the directories to see where the data is and where to put the data

In [1]:
!ls

LICENSE                 data_samples            project_plan.md
README.md               progress_report.md
data                    progress_report_1.ipynb

import the main blog dataset into a dataframe using pandas

In [3]:
import pandas as pd
df = pd.read_csv('data/blogtext 2.csv')
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

Examine the data rows

In [18]:
df.iloc[0]

id                                                  2059027
gender                                                 male
age                                                      15
topic                                               Student
sign                                                    Leo
date                                            14,May,2004
text                 Info has been found (+/- 100 pages,...
Name: 0, dtype: object

Now look at the valuable text column

In [16]:
df['text'][0]

'           Info has been found (+/- 100 pages, and 4.5 MB of .pdf files) Now i have to wait untill our team leader has processed it and learns html.         '

More text

In [6]:
df['text'][100]

"                 i can't wait for things to get moving, i want out of here. im lookin forward to uni although it means another 3 years in england. it should be so much fun from my experiences of it so far and my brother's experiences. after uni though it will be another year i guess before i can move, as i'll need to work for 'bout that long to get some money. will be quite lonely i imagine as every1 will have moved on by then. i wana work in a pub, duno why, not any pub, not a big pub, i'd love to work the fox n hound by jill's - it's small n friendly, i think thats what attracks me to bein a barmaid - every1 thinks its somit to look down on but what's so bad bein surrounded by people in a friendly (if smoky :s) atmosphere? mayb im naive... also hav a job lined up with jill i hope :) i love the sound of what she plans to do and she says she'll employ me :) ur pretty much self-employed to be honest so it should happen n im into herbal homeopathic stuff so sounds good for me. after that id love to work in italy or canada. i cant speak italian so that leaves canada lol. although i don't have enough points for a visa :( i hav a friend who's gona help me as he's canadian (thats gota help!) and if i end up workin for a whole year before i go then that shld give me more points, plus im gona try learn french alongside my psychology degree, i wana speak french newas but now i hav a goal for it and will give me more points the better at it i am. the biggest problem is probably death - i.e. getting in a plane... ive been thinkin bout takin a flight course to help me feel more prepared for flying, but i don't see how im gona erase the knowledge that it could crash - and if it does it's the worst possible thing to be in that crashes. i dont wana die. if i do, i dont wana die like that. but then more than not wanting to die, i wana live, i know wot i mean... which brings me onto the fact that i realy should start jogging again. i wana b able to do the 10mile fun run next year to raise money for something that keeps catching my eye, i seem to read about it in magazines n papers all the time, n things through the door, it breaks my heart, if there's nethin i can do i wana do it. not because im such a great person just because ive seen the effects.... newas...will b a new years resolution lol im pathetic camp america should be cool too, wish it was this summer though as im gona b bored outa my brain n probs comit suicide for somit fun to do...talkin of which my mum thinks im on drugs, seriously do i come across as that abnormal n screwed? i guess we just have different views on what's normal, what emotions n behaviour are acceptable, whats good for us etc. o well arrivedechi x      "

sample out 5 data points, let's see how they turn out

In [7]:
df_sample = df.sample(5)
df_sample

,id,gender,age,topic,sign,date,text
197911,1472995,female,27,indUnk,Aries,"19,June,2003",Cara- the pics on his website rem...
488021,1334247,female,17,Student,Libra,"31,March,2004",OK!!! Any boys in high school who are g...
552483,3056329,male,17,Government,Libra,"17,May,2004",Hello out there~ I was just wonde...
491016,698952,female,34,indUnk,Sagittarius,"02,August,2004",What I thought I Would Never S...
507087,2999514,male,27,Engineering,Pisces,"05,June,2004",I'm about to 'port over all my old work...

Looks like we have 2 teen posts, 2 posts from twenties and 1 from thirties

We store the samples (CSV format in the sample folder)

In [8]:
df_sample.to_csv('data_samples/csv_sample.csv')

Examine texts one by one and add it into sample folders for alternative data viewing. Eg.

In [15]:
list(df_sample['text'])[3]

"               What I thought I  Would Never See    Didn't think she'd come back. Interesting that she has. Could she just not stay away?   I fade more and more from IRC. Miss it, but far less than I ever thought I would. Why play? Why be around? There is nobody but a handful that even notice or want to do more than sit and stare at a screen. I'm restless. I want ......something.         "